<div class="country-wrapper">
    <button (click)="goBack()" class="back-button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
        <p>Back</p>
    </button>

    <div class="country-info">
        <img [src]="country?.flags?.png" />
        <div class="country-details">
            <p class="common-name">{{country?.name?.common}}</p>
            <div class="country-text">
                <div class="left">
                    <p><strong>Native Name:</strong> {{nativeNames}}</p>
                    <p><strong>Population:</strong> {{country?.population}}</p>
                    <p><strong>Region:</strong> {{country?.region}}</p>
                    <p><strong>Sub Region:</strong> {{country?.subregion}}</p>
                    <p><strong>Capital:</strong> {{country?.capital}}</p>
                </div>
                <div class="right">
                    <p><strong>Top Level Domain:</strong> {{country?.tld}}</p>
                    <p><strong>Currencies:</strong> {{currencies}}</p>
                    <p><strong>Languages:</strong> {{languages}}</p>
                </div>
            </div>
            <div class="border-list">
                <p>Border Countries: </p>
                <ul>
                    @for (border of country?.full_borders; track $index) {
                    <li>
                        <a href="">{{border.name.common}}</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>